body{
    font-family: 'Abel', sans-serif;
    background: #f0f0f0;
}
header{
    font-family: anton;
}

.circle {
    width: 105px;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
    border-radius: 50%;
    color: white;
    text-align: center;
    margin: 1vw;
}
#designCircle {
    background-color: #e6563b
}

#developCircle {
    background-color: #dea03d;
}

#supportCircle {
    background-color: #7cb06c;
}

#hostCircle {
    background-color: #00aba9;
}
:root {
    --red: #e6563b;
    --lime: #7cb06c;
    --gold: #EB9D3A;
    --teal: #00aba9;
}
.red{background-color: var(--red);}
.lime{background-color: var(--lime);}
.gold{background-color: var(--gold);}
.teal{background-color: var(--teal);}

.sub-title{
    text-align: center;
    margin-top: 5em;
}
.images {
    max-width: 100%;
    border: .5em solid #e6e6e6;
    border-radius: 4px;
    background-size: cover;
}
.small-circles{
    height: 18px;
    width: 18px;
    border-radius: 18px;
    font-size: 8px;
    line-height: 18px;
    font-family:'Anton', sans-serif;
    margin-left: 1em;
}
.small-circles span{
    position: relative;
    top: 1px
}
.small-images{
    height: 50px;
    width: 50px;
    border: .2em solid #e6e6e6;
    border-radius: 1px;
    background-size: cover;
}
